.add{
  padding: 12px 30px;
  background-color: #ffbf00;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  color: white;
  outline: none;
  float: right;
  margin-top: 150px;
  margin-right: 200px;
  font-weight: bold;
  text-decoration: none;

}

.aaa{
  margin-top: 10px;
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.mod{
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 20px 50px;
  width: 40%;
  left: 50%;
  position: sticky;
  font-size: 15pt;
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  outline: none;
  border: 1px solid rgb(80, 80, 80);
  
}

.mod:target {
  visibility: visible;
  opacity: 1;
}

.close{
  padding-left: 535px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25pt;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}




.back{
    padding-left: 10px;
    cursor: pointer;    
    font-weight: bold;
    margin-top: -1px;
}

.title{
    margin-top: -30px;
}





.delete1 {
    position: absolute;
    top: 25px;
    left: 120px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1pt 1pt 15pt rgb(74, 78, 76);
    stroke: #333;

}

.edit1 {
    position: absolute;
    top: 25px;
    left: 220px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1pt 1pt 15pt rgb(74, 78, 76);
    stroke: #333;

}

.myButton {
    padding: 12px 30px;
    background-color: #ffbf00;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12pt;
    color: white;
    outline: none;
    float: right;
    font-weight: bold;
    
}

body {
    font-family: Arial, sans-serif;
   background-size: cover;
    height: 100vh;
  }
  
  h1 {
    padding-left: 20px;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 80px 0;
  }

  .desc{
    padding: 1% 10%;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  

  .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

 
  
  .popup {
    margin: auto;
    background: #fff;
    width: 100%;
    height: 100%;
    position:static;
  }

  .popup2 {
    margin: 20pt 20pt auto;
    background: #fff;
    width: 50%;
    height: 50%;
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .back {
    position: absolute;
    top: 25px;
    left: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .popup .close:hover {
    color: rgb(255, 255, 255);
  }
  .popup .content {
    max-height: 130%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }



  .form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 75%;	
}
.form-style-2 input.input-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 75%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
.bungkus {
  background-color: #06D85F;
}

.item {
  width: 200px;
  height: 270px;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
  float: left;
  margin: 5px 20px;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
  box-sizing: border-box;
  text-decoration: none;
}
.item:active{
  cursor: auto;
}

.item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: black;
  object-fit: cover;
  object-position: 50% 50%;
}

.item div{
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}

.item-p {
  margin: 0;
  width: 100%;
  font-size: 15pt;
  color: black;
  text-decoration: none;
}